body {
  font-family: 'Space Mono';
}

h1 {
  left: 0;
  top: 0;
  margin-top: 20px;
  font-size: 40px;
  font-style: bold;
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

#game-title {
  font-size: 40px;
  font-style: bold;
  color: white;
  margin: 3%;
}

button {
  width: 200px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  color: #fffcfc;
  font-family: 'Space Mono';
  background-color: #000000;
  box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 10px;
}

/*AttackButtons*/

.AttackButtons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  bottom: 5px;
  left: 55px;
  margin: 15px;
}

.AttackButtons button {
  width: 120px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  color: #fffcfc;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}

.AttackButtons button:last-child {
  margin-right: 0;
}

.AttackButtons button:hover {
  border: 2px solid #ffffff;; 
}

/*Monster*/
  
.MonsterHeader { 
  padding-right: 30px;  
  font-size: 15px;
  margin-top: 0px;
}

.MonsterContainer {
  position: relative; /* Use relative positioning for the container */
  border: 1px solid #ffffff;
  width: 400px;
  height: 355px;
  padding: 10px;
  border-radius: 10px;
}

.MonsterWeakness{
  border: 1px solid #ffffff;
  width: 70px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items horizontally */
  align-items: center;
}

.MonsterWeaknessHeader {
  padding-right: 30px;  
  margin-left: 3px;
  font-size: 15px;
  margin-top: 0px;
}

.QuestRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.QuestDescription {
  margin-left: 10px;
  flex-grow: 1; 
  color: #e0e0e0; 
  font-size: 16px; 
  text-align: left; 
}

.QuestMonsterImage {
  width: 20%; 
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  margin-top: 15px;
}

#Weakness {
  width: 35px;
  height: 35px;
}

/*NextEnemies*/	
.NextEnemies {
  margin-left: 20px; /* Optional: Add some space between the containers */
}

.MonsterAndEnemies {
  display: flex;
  justify-content: left;
  align-items: start;
}

.NextEnemiesContainer {
  border: 1px solid #ffffff;
  width: 90px;
  height: 80px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10%;
}

.NextEnemiesHeader {
  font-size: 15px;
  margin-top: 0px;
}

#EnemiesContainer1{
  left: 480px;
  top: 135px;
}

#EnemiesContainer2{
  left: 480px;
  top: 240px;
}

#EnemiesContainer3{
  left: 480px;
  top: 345px;
}

/*Missions*/
.MonsterMissionsContainer {
  display: flex;
  justify-content: center; 
  align-items: start; 
  gap: 120px; 
}

.MissionsContainer {
  border: 1px solid #ffffff;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.MissionsHeader {
  text-align: center; 
  font-size: 15px;
  margin-top: 0px;
}

/*CharacterStats*/

.CharacterStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.CharacterStatsContainer {
  border: 1px solid #ffffff;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; /* Add some space between stats and buttons */
}

.CharacterStatsHeader {
  font-size: 15px;
  margin-bottom: 10px; /* Add some space below the header */
}

/* Style for the Save and Load buttons */
#SaveButton, #LoadButton {
  width: 100px;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  color: #fffcfc;
  background-color: #000000;
  box-shadow: 0 0 0 1px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 25px; /* Add margin for spacing */
}

#SaveButton:hover, #LoadButton:hover {
  border: 2px solid #ffffff;
}

/* Style for the monster image to fit in area */
.MonsterImage {
  width: 60%; /* ou qualquer tamanho que você deseja */
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  margin-top: -15px;
}

.teste {
  display: flex;
  justify-content: space-between;
  align-items: center;
}